@font-face {
    font-family: Inconsolata;
    src: url("/fonts/Inconsolata-webfont.eot");
    src: url("/fonts/Inconsolata-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/Inconsolata-webfont.woff") format("woff"),
         url("/fonts/Inconsolata-webfont.ttf") format("truetype"),
         url("/fonts/Inconsolata-webfont.svg#webfont6txitxZN") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Inconsolata;
    src: url("/fonts/Inconsolata-Bold-webfont.eot");
    src: url("/fonts/Inconsolata-Bold-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/Inconsolata-Bold-webfont.woff") format("woff"),
         url("/fonts/Inconsolata-Bold-webfont.ttf") format("truetype"),
         url("/fonts/Inconsolata-Bold-webfont.svg#webfont6txitxZN") format("svg");
    font-weight: 700;
    font-style: normal;
}
