<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/#service" class="smooth" data-toggle="collapse" data-target=".navbar-collapse.in">Services</a></li>
    <li><a href="/#work" class="smooth" data-toggle="collapse" data-target=".navbar-collapse.in">Projects</a></li>
    <li><a href="/#about" class="smooth" data-toggle="collapse" data-target=".navbar-collapse.in">About Us</a></li>
    <li><a href="/#community" class="smooth" data-toggle="collapse" data-target=".navbar-collapse.in">Community</a></li>
    <li><a href="/#contact" class="smooth" data-toggle="collapse" data-target=".navbar-collapse.in">Contact Us</a></li>
    <li><a href="/articles.html" class="smooth" data-toggle="collapse" data-target=".navbar-collapse.in">Articles</a></li>
  </ul>
</div>
